language: ruby
rvm: 2.2
sudo: required
services: docker

addons:
  apt:
    sources:
      - chef-stable-precise
    packages:
      - chefdk

env:
  matrix:
  - INSTANCE=default-ubuntu-1204
  - INSTANCE=default-ubuntu-1404
  - INSTANCE=default-centos-6
  - INSTANCE=certificates-ubuntu-1204
  - INSTANCE=certificates-ubuntu-1404
  - INSTANCE=certificates-centos-6

install: echo "skip bundle install"

before_script:
  # https://github.com/zuazo/kitchen-in-travis-native/issues/1#issuecomment-142230889
  - sudo iptables -L DOCKER || ( echo "DOCKER iptables chain missing" ; sudo iptables -N DOCKER )
  - eval "$(/opt/chefdk/bin/chef shell-init bash)"
  - /opt/chefdk/embedded/bin/chef gem install kitchen-docker

script:
  - /opt/chefdk/embedded/bin/chef --version
  - /opt/chefdk/embedded/bin/rubocop --version
  - /opt/chefdk/embedded/bin/rubocop
  - /opt/chefdk/embedded/bin/foodcritic --version
  - /opt/chefdk/embedded/bin/foodcritic . --exclude spec
  - /opt/chefdk/embedded/bin/rspec
  - KITCHEN_LOCAL_YAML=.kitchen.docker.yml /opt/chefdk/embedded/bin/kitchen verify ${INSTANCE}

notifications:
  slack:
    secure: T/NjVX3wPLQeMp4n6fiwBW3dhDIH0WIklH16cfUugPm8IlDRA+4+hQxUmqEOBse9dPu2NPcirZnXxiAmk5W1qUvNdsSBLKQ8NF6ahNITQBiQPpjfKuv1XY9SYijtEGN340fbSha2k7IRXzxleJySiQdo+KbFfDvZnpeGACb/rdE=
